# ==============================
# Configuración del proyecto
# ==============================
COMPOSE_PROJECT_NAME=gp-print-studio

# ==============================
# Configuración de la Aplicación
# ==============================
APP_PORT=8080
APP_CONTAINER_NAME=gp-print-studio-backend

# ==============================
# Configuración de SQL Server
# ==============================
DB_CONTAINER_NAME=gp-print-studio-database
DB_PORT=1433
DB_USER=sa_user
DB_DATABASE=sqlsrv_db
DB_PASSWORD=your_secret_password

# ==============================
# Configuración de PostgreSQL
# ==============================
PG_CONTAINER_NAME=gp-print-studio-postgres
PG_PORT=5432
PG_USER=postgres
PG_DATABASE=postgres_db
PG_PASSWORD=your_secret_password
